@import "tailwindcss";


@theme {
  --background: #ffffff;
  --foreground: #171717;
  /* add brand color */

  --color-brand-50: #e9eefc;
  --color-brand-100: #cfe0fa;
  --color-brand-200: #9dbff6;
  --color-brand-300: #6b9ff0;
  --color-brand-400: #3b7fe8;
  --color-brand-500: #0033a0;
  --color-brand-600: #002b85;
  --color-brand-700: #002063;
  --color-brand-800: #00143f;
  --color-brand-900: #000920;
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* fonts */
  --font-gillsans: "Gill Sans Nova", sans-serif;
  --font-sans: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  /* provide a safe system-ui fallback until the custom font loads */
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue",
    Arial, "Noto Sans", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-gillsansnova), system-ui, -apple-system, "Segoe UI",
    Roboto, Arial, sans-serif;
}


/* In your global CSS */
.receipt-root, .receipt-root * {
  --tw-text-opacity: 1 !important;
  color: #222 !important;
  background-color: #fff !important;
}